// Main Colors
$main: #3E7AB4;
$primary: #007BFF;
$secondary: #5A6268;
$success: #28A745;
$danger: #DC3545;
$warning: #FFC107;
$info: #17A2B8; // Whites
$white: #FEFEFE;
$cream: #F8F7F6;
$grey: #F8F9FA; // Blacks
$black: #333333;
$opaque-black: rgba(52,58,64,0.5);