<div class="fill">
  <div class="form-box">
    <h2>Sign Up</h2>
    <div class="input-box">
      <div class="group">
        <input type="text" name="username">
        <span class="bar"></span>
        <label for="username">Username</label>
        <img src="/assets/images/heros/kirsi.young.win.png" alt="Kirsi">
      </div>
    </div>
    <div class="input-box">
      <div class="group">
        <input type="email" name="email">
        <span class="bar"></span>
        <label for="email">Email</label>
        <img src="/assets/images/heros/kirsi.young.win.png" alt="Kirsi">
      </div>
    </div>
    <div class="input-box">
      <div class="group">
        <input type="password" name="password">
        <span class="bar"></span>
        <label for="password">Password</label>
        <img src="/assets/images/heros/kirsi.young.win.png" alt="Kirsi">
      </div>
    </div>
    <div class="input-box">
      <div class="group">
        <input type="text" name="pwcheck">
        <span class="bar"></span>
        <label for="pwcheck">Re-enter Password</label>
        <img src="/assets/images/heros/kirsi.young.win.png" alt="Kirsi">
      </div>
    </div>
    <div class="input-box button-holster">
      <button>Go!</button>
    </div>
  </div>
</div>